<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <script>document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        form.onsubmit = function (e) {
            e.preventDefault();
            const username = document.querySelector('#name').value;
            const email = document.querySelector('#email').value;
            const password = document.querySelector('#password').value;
            alert(`Username: ${username}\nEmail: ${email}\nPassword: ${password}`);
            form.reset();
        };
    });</script>
</head>
<body>
<h2>Create User</h2>
<form action="/create" method="post">
    <label for="name">Username:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <br>
    <input type="submit" value="create">
</form>
</body>
</html>
